*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans";
  background-color: #060521; }

.container {
  display: grid;
  grid-template-rows: min-content min-content; }

ion-icon {
  color: white;
  font-size: 32px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0); }
  40%, 60% {
    transform: translate3d(3px, 0, 0); } }

@keyframes change {
  from {
    background-position: right, center; } }

@keyframes fadeIn {
  0% {
    color: rgba(12, 199, 199, 0.002); }
  25% {
    color: rgba(12, 199, 199, 0.1); }
  50% {
    color: rgba(12, 199, 199, 0.35); }
  75% {
    color: rgba(12, 199, 199, 0.5); }
  100% {
    color: white; } }

@keyframes fadeInLink {
  0% {
    color: rgba(12, 199, 199, 0.002); }
  25% {
    color: rgba(12, 199, 199, 0.1); }
  50% {
    color: rgba(12, 199, 199, 0.35); }
  75% {
    color: rgba(12, 199, 199, 0.5); }
  100% {
    color: #0cc7c7; } }

.about {
  background-color: #060521;
  display: flex; }
  .about__details {
    padding: 3rem;
    font-size: 2rem;
    line-height: 1.8;
    width: 50%;
    color: #fff; }
  .about__img-container {
    flex: 1;
    position: relative; }
    .about__img-container__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50rem;
      z-index: 2;
      transition: background-color .75s;
      background-color: rgba(72, 15, 114, 0.6);
      box-shadow: 0 0 8px 8px #060521 inset; }
      .about__img-container__overlay:hover {
        background-color: transparent; }
  .about__personal-image {
    width: 100%;
    object-fit: cover;
    height: 50rem; }

.btn {
  padding: .2rem .5rem;
  border: 1px solid cyan;
  border-radius: .5rem; }
  .btn:hover {
    border: 1px solid #fff; }
  .btn--contact {
    font-size: 1.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 199, 199, 0.185); }
    .btn--contact:link, .btn--contact:visited {
      color: cyan;
      text-decoration: none; }
  .btn--contact:hover {
    background-color: rgba(143, 23, 126, 0.185);
    color: #fff;
    box-shadow: 0 1rem 2rem #060521;
    transform: translateY(-2px); }
  .btn--contact:hover > .code-icon {
    color: #fff; }

.projects {
  background-color: #060521;
  padding: 3rem;
  color: #fff; }
  .projects__card-container {
    display: grid;
    padding: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem; }
  .projects__card {
    background-color: #480F72;
    height: 22rem;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .projects__card-text {
      font-size: 1.3rem; }
    .projects__card-tech-info {
      display: flex;
      font-size: 1.15rem;
      justify-content: flex-end;
      align-items: center;
      margin-top: 1.2rem;
      color: cyan;
      font-weight: bold; }

.git-icon {
  font-size: 2rem;
  margin-left: 1rem; }
  .git-icon:hover {
    color: #CF3176;
    transform: translateY(-1px); }

.tech-skill {
  margin-left: 1rem; }

.experience {
  background-color: #060521;
  padding: 3rem;
  color: #fff; }
  .experience__content {
    height: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .experience__button {
    background-color: transparent;
    border: none; }
  .experience__item {
    height: 100%;
    flex: 1;
    padding: 3rem;
    border: 1px solid #0cc7c7;
    border-radius: 4px;
    background: linear-gradient(to right, transparent 33%, #0cc7c7, transparent 66%);
    background-size: 300% 100%, cover; }
    .experience__item--1 {
      display: block; }
    .experience__item--2 {
      display: none; }
    .experience__item--3 {
      display: none; }
    .experience__item__info {
      font-size: 1.65rem; }
    .experience__item__list {
      font-size: 1.65rem; }
  .experience__page-number {
    text-align: center;
    font-size: 2rem; }

.arrow-icon {
  padding: 2rem;
  cursor: pointer; }
  .arrow-icon:hover {
    transform: translateY(-2px);
    color: #CF3176; }
  .arrow-icon:active {
    transform: translateY(-0.5px);
    color: #fff; }

ul {
  padding: 0 2.5rem; }

.link-button {
  text-decoration: none;
  color: #0cc7c7; }
  .link-button:hover {
    text-decoration: underline; }

.contact {
  background-color: #060521;
  height: 1000px; }

.header {
  background-image: linear-gradient(to bottom, transparent, #060521), url(../img/jr-korpa-9XngoIpxcEo-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5.5rem;
  text-align: center; }

.contact-btn-container {
  display: flex;
  justify-content: center; }

.first-name {
  color: #fff;
  text-shadow: 0 2rem 4rem #060521; }

.last-name {
  color: #fff;
  text-shadow: 0 2rem 4rem #060521; }

.job-title {
  font-size: 2.5rem;
  color: cyan;
  text-shadow: -1px -1px 0 #060521, 1px -1px 0 #060521, -1px 1px 0 #060521, 1px 1px 0 #060521; }

.skill-icon {
  margin: 2rem;
  font-size: 4rem;
  transition: transform 3s ease-in-out;
  color: rgba(255, 255, 255, 0.85); }

.code-icon {
  font-size: 1.85rem;
  margin: 1rem;
  color: cyan; }

.skill-icon:hover {
  transform: scale(1.2) translateY(-0.5px);
  animation: shake 2s both; }

.heading--1 {
  font-size: 8rem; }

.heading--2 {
  font-size: 5rem;
  text-transform: uppercase; }

.heading--3 {
  font-size: 2.5rem; }

.nav-container {
  background-color: rgba(6, 5, 33, 0.75);
  padding: .5rem .7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .nav-container__icon {
    cursor: pointer; }
  .nav-container__icon:hover {
    color: #CF3176; }

.nav {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.75rem; }
  .nav__item {
    margin: 1rem;
    overflow: hidden; }
    .nav__item--resume {
      padding: .5rem .7rem;
      border: 1px solid #fff;
      position: relative;
      border-radius: .5rem;
      z-index: 1; }
    .nav__item--resume:hover::before {
      width: 500%;
      visibility: visible; }
    .nav__item--resume::before {
      content: "Resume";
      padding: .5rem .7rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      visibility: hidden;
      border-radius: .5rem;
      background-color: rgba(207, 49, 118, 0.6);
      color: #fff;
      z-index: 2;
      -webkit-clip-path: polygon(0 0, 50% 0, 25% 100%, 0 100%);
      clip-path: polygon(0 0, 50% 0, 25% 100%, 0 100%);
      transition: width .6s, visibility .365s;
      cursor: pointer; }
  .nav__link:link, .nav__link:visited {
    position: relative;
    z-index: 10;
    color: #fff;
    text-decoration: none; }
  .nav__link--text:hover {
    text-shadow: -1px -1px 0 #CF3176, 1px -1px 0 #CF3176, -1px 1px 0 #CF3176, 1px 1px 0 #CF3176; }

.u-margin-top-extra-small {
  margin-top: .8rem; }

.u-margin-top-small {
  margin-top: 1.2rem; }

.u-margin-top-medium {
  margin-top: 3.2rem; }

.u-margin-top-large {
  margin-top: 10rem; }
