.btn {
    padding: .2rem .5rem;
    border: 1px solid cyan;
    border-radius: .5rem;

    &:hover {
        border: 1px solid $color-white; 
    }

    &--contact {
        font-size: 1.85rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color-muted-cyan, .185);

        &-bottom {
            background-color: $color-violet;
            font-size: 1.65rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-white;
            border: 1px solid $color-white;
        }

        &:link,
        &:visited {
            color: cyan;
            text-decoration: none;
        }
    }

    &--contact:hover,
    &--contact-bottom:hover {
        color: $color-white;
        box-shadow: 0 1rem 2rem $color-black-pearl;
        transform: translateY(-2px);
        cursor: pointer;
    }

    &--contact:hover {
        background-color: rgba($color-violet, .185);
    }

    &--contact:hover > .code-icon {
        color: $color-white;
    }

    &--see-more {
        border: none;
        background-color: transparent;
        color: cyan;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin-top: 1.5rem;
        padding: 0;
        &:hover {
            border: none;
            cursor: pointer;
        }
    }
}