.experience {
    background-color: $color-black-pearl;
    padding: 3rem;
    color: $color-white;

    &__content {
        height: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        background-color: transparent;
        border: none;
    }

    &__item {
        height: 100%;
        flex: 1;
        padding: 3rem;
        border: 1px solid $color-muted-cyan;
        border-radius: 4px;

        &--1 {
            visibility: visible;
        }

        &--2 {
            visibility: hidden;
        }

        &--3 {
            visibility: hidden;
        }

        &__info {
            font-size: 1.65rem;
        }

        &__list {
            font-size: 1.65rem;
        }
    }

    &__page-number {
        text-align: center;
        font-size: 2rem;
    }
}

.arrow-icon {
    padding: 2rem;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        color: $color-cerise;
    }

    &:active {
        transform: translateY(-.5px);
        color: $color-white;
    }
}

ul {
    padding: 0 2.5rem;
}