.projects {
    background-color: $color-black-pearl;
    padding: 3rem;
    color: $color-white;

    &__card-container {
        display: grid;
        padding: 5rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 4rem;
    
    }

    &__card {
        background-color: $color-indigo;    // Placeholder.
        height: 22rem;
    }
}